.form {
    @include container;

    &__header {
        @include tablet {
            padding: 80px 0 60px;
            flex-direction: column;
        }

        padding: 80px 0 112px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__title {
        @include h1;

        color: var(--typo-dark);
        max-width: 564px;
    }

    &__reset {
        @include tablet {
           align-self: end;
        }

        width: 225px;
        margin: 22px 0 0;
    }

    &__body {
        @include tablet {
            flex-direction: column;
            gap: 25px;
        }

        display: flex;
        gap: 123px;
    }

    &__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: space-between;
    }

    &__footer {
        @include tablet {
            padding: 40px 0;
            flex-direction: column;
            gap: 16px;
        }

        padding: 98px 0;
        display: flex;
        gap: 16px;
    }

    &__submit {
        min-width: 248px;
        display: grid !important;
        grid-template-columns: 1fr 16px;
        align-items: center;
    }

    &__back {
        min-width: 248px;
        display: grid !important;
        grid-template-columns: 16px 1fr;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        &_visible {
            opacity: 1;
            pointer-events: initial;
            visibility: visible;
        }
    }

    &__submit-icon {
        width: 16px;
        height: 16px;
    }

    &__back-icon {
       transform: rotate(180deg);
    }

    &__pagination {
        align-self: center;
        flex: 1;
    }
}