:root {
    --typo-dark: #1d1d1d;
    --typo-error: #be1f2a;
    --button-border-color: rgba(18, 19, 19, 0.16);
    --button-border-color-hover: rgba(18, 19, 19, 0.64);
    --input-border-color: rgba(0, 0, 0, 0.19);
    --input-border-color-hover: rgba(0, 0, 0, 0.64);
}